<div class="view-wrapper">
	<div class="main-section">
		<form id="controlBuilder" name="controlbuilder" ng-submit="submitToFormView()" novalidate>
			<div class="input-field">
				<input id="controllerName" type="text" ng-model="data.ctrlName" class="validate" ng-required="true">
				<label for="controllerName">Controller Name</label>
			</div>
			<div class="input-field">
				<select name="singleSelect" id="singleSelect" ng-model="data.singleSelect" class="validate"
					ng-required="true">
					<option value="" disabled selected>Choose your option</option>
					<option value="text">Text</option>
					<option value="textarea">TextArea</option>
					<option value="password">Password</option>
					<option value="email">Email</option>
					<option value="number">Number</option>
					<option value="select">Select</option>
				</select>
				<label for="singleSelect">Controller Type</label>
			</div>

			<dialog class="mdl-dialog" id="add-select-options">
				<div class="mdl-dialog__custom-header">
					<h5>Add Select Options</h5>
				</div>
				<div class="mdl-dialog__content">
					<div class="selectlist-options" ng-show="selectoptionsExist">
						<ul class="demo-list-item mdl-list">
							<li class="mdl-list__item" ng-repeat="selectoption in newOptions track by $index">
								<span class="mdl-list__item-primary-content">
									{{selectoption}}
								</span>
							</li>
						</ul>
					</div>
					<div class="select-modal-wrapper">
						<div class="input-field">
							<input type="text" id="selectOptionInput" ng-model="data.newSelect">
							<label for="selectOptionInput">Select Option</label>
						</div>
						<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab waves-effect"
							type="button" ng-click="addSelectOptions()">
							<i class="material-icons">add</i>
						</button>
					</div>
				</div>
				<div class="mdl-dialog__actions">
					<button type="button" class="mdl-button mdl-button--raised close waves-effect action-button"
						ng-click="saveSelectOptions()">Save</button>
					<button type="button" class="mdl-button  mdl-button--raised waves-effect action-button"
						ng-click="cancelSelectOptions()">Cancel</button>
				</div>
			</dialog>

			<button type="submit" class="btn waves-effect">Add to Form View</button>
			<button class="btn waves-effect" type="button" ng-click="hideViewBuilder()">Clear Form View</button>
		</form>
		<div class="button-container">
			<!-- Modal Trigger -->
			<button class="btn waves-effect delete-database modal-trigger" data-target="confirmdelete" type="button">Delete
				All
				Records</button>
			<!-- <a class="waves-effect waves-light btn modal-trigger" href="#confirmdelete">Modal</a> -->

			<div id="confirmdelete" class="modal">
				<div class="modal-content">
					<p>Do you wish to delete the form generated up until now?</p>
				</div>
				<div class="modal-footer">
					<a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
					<a class="modal-close waves-effect waves-green btn-flat" ng-click="clearDatabase()">Delete</a>
				</div>
			</div>
		</div>
		<div ui-view></div>
	</div>
</div>