<div class="view-wrapper">
	<form id="controlBuilder" name="controlbuilder" ng-submit="submitToFormView()" novalidate>
		<div class="input-field">
			<input id="controllerName" type="text" ng-model="data.ctrlName" class="validate">
			<label for="controllerName">Controller Name</label>
		</div>
		<div class="input-field">
			<select name="singleSelect" id="singleSelect" ng-model="data.singleSelect">
				<option value="" disabled selected>Choose your option</option>
				<option value="text">Text</option>
				<option value="textarea">TextArea</option>
				<option value="password">Password</option>
				<option value="email">Email</option>
				<option value="number">Number</option>
				<option value="select">Select</option>
			</select>
			<label for="singleSelect">Controller Type</label>
		</div>
		<dialog class="mdl-dialog" id="add-select-options">
			<h5 class="mdl-dialog__title">Add Select Options</h5>
			<div class="mdl-dialog__content">

				<div class="selectlist-options">
					<ul class="demo-list-item mdl-list">
						<li class="mdl-list__item" ng-repeat="selectoption in newOptions">
							<span class="mdl-list__item-primary-content">
								{{newOption}}
							</span>
						</li>
					</ul>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="selectOptionInput" ng-model="data.newSelect">
					<label class="mdl-textfield__label" for="selectOptionInput">Select Option</label>
				</div>
				<button type="button" class="mdl-button mdl-button-js mdl-button--raised" type="submit"
					ng-click="addSelectOptions()">Add Select
					Options</button>
			</div>
			<div class="mdl-dialog__actions">
				<button type="button" class="mdl-button mdl-button--raised close"
					ng-click="saveSelectOptions()">Save</button>
				<button type="button" class="mdl-button  mdl-button--raised close"
					ng-click="cancelSelectOptions()">Cancel</button>
			</div>
		</dialog>

		<button type="submit" class="btn waves-effect" ng-click="generateViewBuilder=true">Add to Form View</button>
		<button class="btn waves-effect" type="button" ng-click="generateViewBuilder=false">Clear Form View</button>
	</form>

	<form id="viewBuilder" ng-show="generateViewBuilder" novalidate>
		<div class="input-field" ng-repeat="data in dbData" ng-switch on="data.Type">
			<textarea name="{{data.Name}}" id="{{data.Name}}" cols="30" rows="10" ng-switch-when="textarea"></textarea>
			<input id="{{data.Name}}" type="{{data.Type}}" class="validate" ng-switch-default>
			<label for="{{data.Name}}">{{data.Name}}</label>
		</div>
	</form>
</div>